<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="test, wireframe, product">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>


    <link href="reset.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
    <link href="checkout.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>
<body>
<header>

    <nav>
        <ul>
            <li>
                <figure><img src="images/login.png" alt="loginIkon"> LOGGA IN/ REGISTRERA KONTO</figure>
            </li>
            <li>
                <figure><img src="images/speech.png" alt="speechIkon"> KUNDSERVICE</figure>
            </li>

            <li>
                <a href="product.html">PRODUKTER</a>
            </li>
            <li>
                <figure><img src="images/cart.png" alt="speechIkon"><a href="checkout.html"> TILL KASSAN (<span id="myNumber"></span>)</a></figure>
            </li>
        </ul>
    </nav>

</header>
<nav id="searching">
    <div class="searchdiv">
        <form class="searchform">
            <input class="searchbar" type="text" name="search" placeholder="Sök..">
        </form>
    </div>
</nav>

<main>
    <section>
        <form id="frmUserInfo" action="#">
            <div class="name">
                <label for="namn" class="required">Namn*<span class="reqForm">(Minst 3 bokstäver)</span></label>
                <input type="text" name="Namn"  placeholder="Förnamn"
                       title="Namn" id="namn">
                 <span id="errName" class="error">Detta är ett obligatoriskt fält.</span>
            </div>
            <div class="efternamn">
                <label for="efternamn" class="required">Efternamn*<span class="reqForm">(Minst 3 bokstäver)</span></label>
                <input type="text" name="Efternamn" placeholder="Efternamn"
                       title="Får endast innehålla bokstäver"  id="efternamn">
                <span id="errLast" class="error">Detta är ett obligatoriskt fält.</span>
            </div>
            <div class="email">
                <label for="email" class="required">Email*<span class="reqForm">(Minst 5 bokstäver)</span></label>
                <input type="email" name="email"  placeholder="Email"
                       title="Ange en giltig emailadress"  id="email">
                <span id="errEmail" class="error">Detta är ett obligatoriskt fält.</span>
            </div>
            <div class="telefonnummer">
                <label for="telefonnummer" class="required">Telefonnummer</label>
                <input type="text" name="Telefonnummer" placeholder="Telefonnummer"
                       title="Får endast innehålla siffror" id="telefonnummer">
            </div>
            <div class="gatuadress">
            <label for="gatuadress" class="required">Gatuadress*<span class="reqForm">(Minst 4 bokstäver)</span></label>
                <input type="text" name="gatuadress"  placeholder="Gatuadress"
                       title="Får endast innehålla bokstäver och siffror"  id="gatuadress">
                <span id="errGat" class="error">Detta är ett obligatoriskt fält.</span>
            </div>
            <div class="postnummer">
                <label for="zip" class="required">Postnummer*<span class="reqForm">(Minst 3 bokstäver)</span></label>
                <input type="text" name="Postnummer" placeholder="Postnummer"
                       title="Får endast innehålla siffror"  id="zip">
                <span id="errZip" class="error">Detta är ett obligatoriskt fält.</span>
            </div>
            <div class="stad">
                <label for="stad" class="required">Stad*<span class="reqForm">(Minst 3 bokstäver)</span></label>
                <input type="text" name="stad"  placeholder="Stad"
                       title="Får endast innehålla bokstäver"  id="stad">
                <span id="errCity" class="error">Detta är ett obligatoriskt fält.</span>
            </div>
            <label for="comment" class="required">Kommentar</label>
            <textarea name="comment" id="comment" placeholder="Skriv kommentar..."></textarea>

            <button id="btnSubmit" type="button">Submit</button>

        </form>
        <section id="cart-items">

        </section>

    </section>

</main>



<script src="../scripts/checkout.js"></script>
<script src="../scripts/shoppingCart.js"></script>
<script src="../scripts/updateCart.js"></script>
</body>
</html>