

#headerImg {
    height: 75px;
    width: 75px;
}

li > figure > img {
    height: 20px;
    width: 20px;
}



a {
    text-decoration: none;
    color: white;
}


h1 {
    font-family: "Book Antiqua";
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #FF9338;

}


#searchbar {
    width: 600px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 16px;
    resize: vertical;
}

nav > ul >li {
    margin: 0 100px;
    display:inline-block;
    font-weight: bold;
    color: white;
}



.product-image {
    height: 150px;
    width: 150px;
}



.productItem {
    height: 100%;
    width: calc(100% * (1/4) - 10px - 1px);
    /*background-color: #4D4D4D;*/
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: 2px solid #CE885E;
    color: black;
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #FF9338;
    color: white;
    position: relative;
    bottom: 0;

}
footer > ul > li > ul > li >figure > img{
    height: 60px;
    width: 100px;
}

footer > ul >li a {
    text-decoration: none;
    color:white;
}


footer > ul > li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: bold;
}
footer > ul > li {
    display: inline-block;
    margin-left: 40px;
    margin-right: 40px;
    font-weight: bold;

}