@media (min-width: 480px) and (max-width: 767px) {

}
/*
body {
    background-color:black;
}*/

#searching {
    height: 80px;
    width: 100%;
    background: linear-gradient(grey, black);
}

li > figure > img {
    height: 20px;
    width: 20px;
}



a {
    text-decoration: none;
    color: white;
}


h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: grey;

}

#searching {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul > li {
    margin: 0 100px;
    display:inline-block;
    font-weight: bold;
    color: white;
}

.product-image {
    height: 150px;
    width: 150px;
}



