<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="test, wireframe, product">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>


    <link href="reset.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <figure><img src="images/login.png" alt="loginIkon"> LOGGA IN/ REGISTRERA KONTO</figure>
            </li>
            <li>
                <figure><img src="images/speech.png" alt="speechIkon"> KUNDSERVICE</figure>
            </li>

            <li>
                <a href="product.html">PRODUKTER</a>
            </li>
            <li>
                <figure><img src="images/cart.png" alt="speechIkon"><a href="checkout.html">CHECKOUT(<span id="myNumber"></span>)</a></figure>
            </li>
            <li>
                 <input id="searchbar" type="text" name="search" placeholder="Sök..">
            </li>
        </ul>
    </nav>
</header>



</body>
</html>