@media (min-width: 480px) and (max-width: 767px) {

}


li > figure > img {
    height: 20px;
    width: 20px;
}



a {
    text-decoration: none;
    color: white;
}


h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #4D4D4D;

}

#searchbar {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 16px;
    resize: vertical;
}

ul > li {
    margin: 0 100px;
    display:inline-block;
    font-weight: bold;
    color: white;
}



.product-image {
    height: 150px;
    width: 150px;
}



.productItem {
    height: 100%;
    width: 150px;
    border: 1px solid rgba(185, 84, 25, .7);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}