<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="test, wireframe, product">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="reset.css" rel="stylesheet">
    <link href="index.css" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                LOGGA IN
            </li>
            <li>
                REGISTRERA KONTO
            </li>
        </ul>

    </nav>
    <div class="searchdiv">
        <form class="searchform">
            <input class="searchbar" type="text" name="search" placeholder="Sök..">
        </form>
    </div>
    <nav>
        <ul>
            <li>
                PRODUKTER
            </li>
            <li>
                TILL KASSAN
            </li>
        </ul>

    </nav>
</header>

<h1>List</h1>


   <p id="dspProductList"></p>

<script src="../scripts/index.js"></script>

</body>
</html>